body {
    margin: 0;
    background-image: url(./marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
}

img {
    width: 100%;
    height: auto;
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.container {
    width: 90%;
    max-width: 350px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.song_details {
    margin-bottom: 20px;
}

#song {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#singer {
    font-size: 18px;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.cover_img {
    margin-bottom: 20px;
}

.audio {
    display: none; /* Hide the default audio controls */
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#play, #forward, #backward {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s;
}

#play {
    border: 2px solid white;
}

#play:hover {
    color: black;
    background-color: white;
    transform: scale(1.1);
}

#forward, #backward {
    color: white;
}

#forward:hover, #backward:hover {
    color: black;
    background-color: white;
    transform: scale(1.1);
}

@media (min-width: 768px) {
    .container {
        padding: 30px;
    }
    
    #song {
        font-size: 28px;
    }
    
    #singer {
        font-size: 22px;
    }

    #play, #forward, #backward {
        font-size: 35px;
    }
}
